@media (min-width: 640px) {
	html,
	body {
		height: 100%;
		margin: 0;
	}

	footer {
		height: 50px;
	}

	/* Trick */
	body {
		display: flex;
		flex-direction: column;
	}

	footer {
		margin-top: auto;
	}
}

iframe {
	max-width: 100%;
	height: calc(100vh - 300px);
}
object {
	width: 100%;
	max-height: 100%;
	height: calc(100vh - 300px);
}
